annot/*
!annot/.gitkeep

conf/*
!conf/.gitkeep
!conf/*.example
!conf/references*

datasets/*
!datasets/.gitkeep

genes/*
!genes/.gitkeep

maps/*
!maps/.gitkeep

tmp_files/*
!tmp_files/.gitkeep

ipk_fpc_wgs/*
dist.sh
dist_web.sh
tests/*
tmp_borrar/*
