#################################
# graphs.conf is part of Barleymap web app.
# Copyright (C) 2025 Bruno Contreras, Joan Sarria
# (terms of use can be found within the distributed LICENSE file).
#################################
# name unique_id map
#Med11 Med11 morexv3
