# Absolute
app_path BARLEYMAP_PATH
# Relative
genmap_path app_aux/
split_blast_path app_aux/
tmp_files_path tmp_files
datasets_path datasets/
maps_path maps/
genes_path genes/
annot_path annot/
annot_filename ANNOT_FILENAME
# Blast
blastn_app_path BLASTN_APP_PATH
blastn_dbs_path BLASTN_DBS_PATH
# GMAP
gmap_app_path GMAP_APP_PATH
gmap_dbs_path GMAP_DBS_PATH
gmapl_app_path GMAPL_APP_PATH
# Other
citation http://floresta.eead.csic.es/barleymap/
stdalone_app http://eead.csic.es/compbio/soft/barleymap/
