# Absolute
app_path /home/cantalapiedra/barleymap/
# Relative
genmap_path app_aux/
split_blast_path app_aux/
tmp_files_path tmp_files
datasets_path datasets/
maps_path maps/
genes_path genes/
annot_path annot/
annot_filename barley_HighConf_genes_MIPS_23Mar12_IPROScanRAW.txt
# Blast
blastn_app_path /home/cantalapiedra/bin/ncbi-blast-2.2.27+/bin/blastn
blastn_dbs_path /home/barleymap/blast_dbs/
# GMAP
gmap_app_path /data3/soft/alignment_tools/gmap-2013-08-31/bin/gmap
gmap_dbs_path /home/barleymap/gmap_dbs/
gmapl_app_path /data3/soft/alignment_tools/gmap-2013-08-31/bin/gmapl
# Other
citation http://floresta.eead.csic.es/barleymap/
stdalone_app http://eead.csic.es/compbio/soft/barleymap/
